<div class="buscar">

<form class="busqueda" [formGroup]="busquedaForm" (ngSubmit)="onSubmit()">
    <label for="termino">Buscar por tarea:</label>
    <input type="search" id="termino" formControlName="termino" placeholder="Búsqueda de tarea" class="buscar">

    <input type="submit" value="Buscar">
</form>

<div class="tarea">
    <h2> Elementos encontrados: </h2>

    <div class="wrapper" *ngIf = tareaFiltrada>

        <app-card
                *ngFor="let tarea of tareas"
                [fecha] = "tarea.fecha"
                [descripcion] = "tarea.descripcion"
                [empleado] = "tarea.empleado"
                [lugar] = "tarea.lugar.direccion" 
        ></app-card>
</div>

 




