.card {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gris);
    min-height: 40px;
    padding: 10px;
    background-color: var(--blanco);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  td{
    text-align: center;
  }

  @media (max-width: 767px) {    
    
    thead, tbody, th, td, tr {
			display: block;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }

		td {
			border: none;
			border-bottom: 1px solid var(--celeste);
			position: relative;
			padding-left: 50%;
		}

		td:before {
			position: absolute;
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		td:nth-of-type(1):before { content: "Fecha"; }
		td:nth-of-type(2):before { content: "Descripción"; }
		td:nth-of-type(3):before { content: "Lugar"; }
    }
