.card {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--gris);
    min-height: 40px;
    padding: 10px;
    background-color: var(--blanco);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }
  td{
    text-align: center;
  }
