/* You can add global styles to this file, and also import other style files */

/* 
    Este es mi CSS general
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #FFF;
    --negro: #000;
    --gris: rgb(182, 174, 174);
    --lavanda: lavender;
    --azul: slateblue;
    --violeta: plum;
    --celeste: lightsteelblue;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--lavanda);
}

img {
    width: 100%;
}

.titulo_ppal{
    color: var(--gris);
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
