body{
    background-color: var(--blanco);
}
.principal{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    max-width: 100%;
}

.menu{
    padding-bottom: auto;
    margin: 20px;
    border-right: 1px solid var(--gris);
    max-width: 30%;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    margin-top: 40px;
    margin-right: 20px;
}

  