.footer{
    max-width: 10%;
    max-height: 20%;

    .camion{
        width: 30%;
        bottom: 0;
        right: 0px;
        animation: truck-move 5s;
        animation-timing-function: linear;
    }
}

@keyframes truck-move {
    to{
        transform: translate(1000px);
    }
}