<nav>
    <ul class="lista">
        <li class="lista-item">
            <a href="./" class="lista-item_link">Inicio</a>
        </li>
        <li class="lista-item">
            <a href="/buscar" class="lista-item_link">Buscador</a>
        </li>
        <li class="lista-item">
            <a href="/mapas" class="lista-item_link">Mapa</a>
        </li>
        <li class="lista-item">
            <a href="/agregar" class="lista-item_link">Agregar tarea</a>
        </li>
        <li class="lista-item">
            <a href="/contacto" class="lista-item_link">Mensajería</a>
        </li>
    </ul>
</nav>