*{
    margin: auto;
}

.home{
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--violeta);
    border-left: 1px solid var(--violeta);
    max-width: 80%;
}


.menu{
    padding-bottom: auto;
    margin: 20px;
    border-right: 1px solid var(--gris);
    max-width: 30%;
    
}

.mostrar{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    max-height: 20px;
    max-width: 70%;
}

h1{
    text-align: center;
    text-decoration: underline;
}


@media (max-width: 767px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
    }

    .menu{
        border-right: none;

    }

    .mostrar{
        padding-bottom: 20px;
    }


}