*{
    margin: auto;
    background-color: var(--celeste);
}

.home{
    border-right: 1px solid var(--violeta);
    border-left: 1px solid var(--violeta);
    max-width: 80%;
    border-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.inicio{
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.mostrar{
    max-width: 100%;
    margin-top: -10px;
    align-items: flex-start;
}


h1{
    text-align: center;
    text-decoration: underline;
}


@media (max-width: 767px) {
    .home{
        display: grid;
        grid-template-columns: 1fr;
    }
   
}