
<div class="menu" >
    <button class="clickBtn" (click)="mostrarMenu()" >Menú empleado</button>
<br>
    <div class="sub-menu" *ngIf="show">
    <label *ngFor="let empleado of empleados">
        <input type="checkbox" (click)="devolverValue()" value="{empleado.id}"> {{empleado.nombreCompleto}} 
    </label>
</div>
    
<div class="mostrar-tareas" *ngIf="value">

    <app-card
        *ngFor="let tarea of tareas"
        [fecha] = "tarea.fecha"
        [descripcion] = "tarea.descripcion"
        [asignado] = "tarea.empleadoId"
        [lugar] = "tarea.lugarId" 
    ></app-card>


</div>


