* {
    margin: 5px;
    display: flex;
    flex-direction: column;
 }

 .clickBtn {
    display: none;
    padding: 8px;
}

.principal{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-direction: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.principal_menu{
    max-width: 100%;
}

.principal_menu_dos{        
    max-width: 100px;

}


@media (max-width: 767px) {
    .clickBtn {
        display: block;
    }

}
